* {
  margin: auto;
  padding: .5rem;
  text-align: center;
}

body {
  background: rgb(235, 251, 246);
}

.completed {
  font-weight: 200;
  color: rgb(8, 8, 8, 0.5);
}

.notCompleted {
  font-weight: 600;
  color: rgb(8, 8, 8);
}

label {
  font-size: .7rem;
}

input {
  margin: 0 0 0 .5rem;
  background: rgb(252, 221, 255);
  border-radius: .3rem;
  border: none;
}

::placeholder {
  color: rgb(242, 150, 250);
  font-size: .7rem;
}

/* button {
  background: rgb(242, 150, 250);
  border-radius: .3rem;
  border: none;
  font-size: 0.8rem;
} */

/* button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
} */

.addTaskButton {
  font-size: 0.8rem;
  background: rgb(242, 150, 250);
  border-radius: .3rem;
  border: none;
}

li {
  list-style-type: none;
}



